body{
    background-color: black;
    img{
    border-radius: 50%;
}
}
h1{
    color: rgb(244, 247, 247);
   
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}
h2{
    color: rgb(244, 247, 247);
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}
.car{
    background-color: cadetblue;
}